<h2 mat-dialog-title>{{dialogContent.title}}</h2>
<mat-dialog-content>
  <p [innerHTML]="dialogContent.body"></p>
</mat-dialog-content>
<mat-dialog-actions>
  @if (dialogContent.showSecondaryBtn) {
    <button mat-button mat-dialog-close>{{dialogContent.secondaryBtnTxt}}</button>
  }
  @if (dialogContent.showPrimaryBtn) {
    <button mat-button mat-dialog-close
    cdkFocusInitial (click)="openLinkNewTab(dialogContent.primaryLink)">{{dialogContent.primaryBtnTxt}}</button>
  }
</mat-dialog-actions>
